@font-face {
  font-family: "hgi-stroke-rounded";
  src: url("hgi-stroke-rounded.eot?t=1721855138058");
  src:
    url("hgi-stroke-rounded.eot?t=1721855138058#iefix")
      format("embedded-opentype"),
    url("hgi-stroke-rounded.woff2?t=1721855138058") format("woff2"),
    url("hgi-stroke-rounded.woff?t=1721855138058") format("woff"),
    url("hgi-stroke-rounded.ttf?t=1721855138058") format("truetype"),
    url("hgi-stroke-rounded.svg?t=1721855138058#hgi-stroke-rounded")
      format("svg");
}
.hgi-stroke {
  font-family: "hgi-stroke-rounded" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hgi-stroke:after {
  opacity: 0.4;
  position: absolute;
  left: 0;
}
